@model List<PricingViewModel>

<main id="main">

    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Pricing</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
    </div>

    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="row">

                @foreach (Pricing pricing in Model.Pricings)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="box @(pricing.IsFeatured ? "featured" : "")">
                            <span class="@(pricing.IsAdvanced ? "advanced" : "")">@(pricing.IsAdvanced ? "Advanced" : "")</span>
                            <h3>@pricing.Type </h3>
                            <h4><sup>$</sup>@pricing.Price<span> / month</span></h4>

                            <ul>

                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->
