@model List<BasketViewModel>

<div class="cart-btn webelement">
    <a asp-controller="Basket" asp-action="Index">
        <i class="icon ion-bag"></i>
        <span class="text">Cart :</span>
        <span class="total">$@(Model.Sum(b => b.Count * b.Price) + Model.Sum(b => b.ExTax * b.Count))</span>
        <span class="count">@Model.Count</span>
    </a>
</div>
<a class="mobileelement">
    <i class="fal fa-shopping-cart"></i>
    <span>@Model.Count</span>
</a>
<div class="mini-cart">
    <ul class="cart-items">
        @foreach (BasketViewModel basketViewModel in Model)
        {
            <li>
                <div class="single-cart-item d-flex">
                    <div class="cart-item-thumb">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@basketViewModel.ProductId"><img src="/assets/images/product/@basketViewModel.Image"></a>
                        <span class="product-quantity">@(basketViewModel.Count)x</span>
                    </div>
                    <div class="cart-item-content media-body">
                        <h5 class="product-name"><a asp-controller="Product" asp-action="Detail" asp-route-id="@basketViewModel.ProductId">@basketViewModel.Name</a></h5>
                        <span class="product-price">€@basketViewModel.Price</span>
                        <a asp-controller="Basket" asp-action="DeleteFromBasket" asp-route-id="@basketViewModel.ProductId" class="product-close deletefrombasket"><i class="fal fa-times"></i></a>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="price_content">
        <div class="cart-subtotals">
            <div class="products price_inline">
                <span class="label">Subtotal</span>
                <span class="value">€@Model.Sum(b => b.Price * b.Count)</span>
            </div>
            <div class="tax price_inline">
                <span class="label">Taxes</span>
                <span class="value">€@Model.Sum(b => b.ExTax * b.Count)</span>
            </div>
        </div>
        <div class="cart-total price_inline">
            <span class="label">Total</span>
            <span class="value">€@(Model.Sum(b => b.Price * b.Count) + Model.Sum(b => b.ExTax * b.Count))</span>
        </div>
    </div> <!-- price content -->
    <div class="checkout text-center">
        <a asp-controller="Order" asp-action="Index" class="main-btn">Checkout</a>
    </div>

</div> <!-- mini cart -->
