@model List<Product>

<div class="product-items">
    <div class="row product-active">
        @for (int i = 0; i < Math.Round((decimal)Model.Count / 2); i++)
        {
            <div class="col-lg-2">
                @foreach (Product product in Model.Skip(i * 2).Take(2))
                {
                    <div class="single-product mt-30">
                        <div class="product-image">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                <img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">
                                <img class="second-image" src="~/assets/images/product/@product.HoverImage" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="addtobasket" asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@product.Id">
                                    <i class="icon ion-bag"></i></a></li>
                                <li><a><i class="icon ion-android-favorite-outline"></i></a></li>
                                <li><a><i class="icon ion-android-options"></i></a></li>
                                <li><a data-toggle="modal" data-target="#productQuickModal" asp-controller="Product" asp-action="DetailModal" asp-route-id="@product.Id" class="detailmodal"><i class="icon ion-android-open"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <ul class="product-rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                            </ul>
                            <h4 class="product-title"><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.ProductName</a></h4>
                            <div class="product-price">
                                @if (product.DiscountPrice > 0)
                                {
                                    <span class="price-sale">€@product.Price</span>
                                    <span class="regular-price">€@product.DiscountPrice</span> }
                                else
                                {
                                    <span class="regular-price">€@product.Price</span>}
                            </div>
                        </div>
                    </div> <!-- single product -->
                }
            </div>
        }
    </div> <!-- row -->
</div>