@* Product *@

@model List<Product>

<div class="row mb-3 d-flex justify-content-between">
    <div class="col-lg-2">
        <h1>Products</h1>
    </div>
    <div class="col-lg-1">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create" asp-area="Manage">Create</a>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Discount Price</th>
            <th>Real Price</th>
            <th>Update</th>
            <th>Clear</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in Model)
        {
        <tr>
            <td class="col-lg-1">@product.Id</td>
            <td class="col-lg-1">@(product.Seria + product.Code)</td>
            <td class="col-lg-3">@product.ProductName</td>
            <td class="col-lg-1">@product.DiscountPrice</td>
            <td class="col-lg-1">@product.Price</td>
            <td class="col-lg-1">
                <a class="btn btn-warning" asp-controller="Product" asp-action="Update" asp-area="Manage">Update</a>
            </td>
            <td class="col-lg-1">
                <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-area="Manage">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>