@model List<Product>
@{
    ViewData["Title"] = "Index";
}



@* ROW 76 foreach for row *@
@* Line 291 colors need to be fixed how to add there list? *@
@* add product material colummn to table *@
@* 350 line Size foreach *@



<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Shop</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Shop Left Sidebar Part Start ======-->

<section class="shop-area pt-20">
    <div class="container-fluid custom-container">
        <div class="row flex-md-row-reverse justify-content-end">
            <div class="col-lg-9">
                <div class="banner-image banner-2 mt-30">
                    <img src="~/assets/images/banner-13.jpg" alt="banner">
                </div> <!-- banner image -->
                <div class="shop-header">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="shop-header-left d-flex flex-wrap align-items-center">
                                <div class="shop-header-icon">
                                    <ul class="nav" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false"><i class="icon ion-grid show_grid"></i></a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true"><i class="icon ion-android-menu show_list"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-header-message">
                                    <p>Showing 1 to 9 of 15 (2 Pages)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shop-header-right d-flex flex-wrap align-items-center justify-content-sm-end">
                                <div class="shop-header-select d-flex flex-wrap">
                                    <span class="select-title">Show:</span>
                                    <select>
                                        <option value="1">10</option>
                                        <option value="2">20</option>
                                        <option value="3">30</option>
                                        <option value="4">40</option>
                                    </select>
                                </div>
                                <div class="shop-header-select">
                                    <span class="select-title">Sort By:</span>
                                    <select>
                                        <option value="1">Default</option>
                                        <option value="2">Name (A-Z)</option>
                                        <option value="3">Price (min - max)</option>
                                        <option value="4">Color</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- shop header -->

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                        <div class="row">
                            @foreach (Product product in Model)
                            {
                                <div class="product-col col-md-4 col-sm-6">
                                    <div class="single-product mt-30">
                                        <div class="product-image">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                                <img class="first-image" src="~/assets/images/product/@product.MainImage" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@product.HoverImage" alt="product">
                                            </a>
                                            <ul class="product-meta">
                                                <li><a><i class="icon ion-bag"></i></a></li>
                                                <li><a><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                            <span class=" @(product.DiscountPrice != 0 ? "discount-product" : "")">
                                                @(product.DiscountPrice != 0 ? @Math.Round(100 - ((product.DiscountPrice / product.Price) * 100))+"%" : "")
                                            </span>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="product-title">
                                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                                    @product.ProductName
                                                </a>
                                            </h4>
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>
                                            <div class="product-price">
                                                @if (product.DiscountPrice > 0)
                                                {
                                                    <span class="price-sale">€@product.DiscountPrice</span>
                                                    <span class="regular-price">€@product.Price</span>
                                                }
                                                else
                                                {
                                                    <span class="price-sale">€@product.Price</span>
                                                }
                                            </div>
                                        </div>
                                    </div> <!-- single product -->
                                </div>
                            }
                        </div> <!-- row -->
                    </div>
                    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        @foreach (Product product1 in Model)
                        {
                            <div class="single-product-list mt-30">
                                <div class="row">
                                    <div class="col-sm-5 col-xl-3">
                                        <div class="product-image">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product1.Id">
                                                <img class="first-image" src="~/assets/images/product/@product1.MainImage" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@product1.HoverImage" alt="product">
                                            </a>
                                            <span class=" @(product1.DiscountPrice != 0 ? "discount-product" : "")">
                                                @(product1.DiscountPrice != 0 ? @Math.Round(100 - ((product1.DiscountPrice / product1.Price) * 100))+"%" : "")
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-xl-9">
                                        <div class="product-content">
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>
                                            <h4 class="product-title">
                                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product1.Id">
                                                    @product1.ProductName
                                                </a>
                                            </h4>
                                            <span class="availability @(product1.Count == 0 ? "text-danger" : "text-success" )">Availability: @(product1.Count == 0 ? "Out of Stock" : product1.Count + " In Stock" ) </span>
                                            <div class="product-price">
                                                @if (product1.DiscountPrice > 0)
                                                {
                                                    <span class="price-sale">€@product1.DiscountPrice</span>
                                                    <span class="regular-price">€@product1.Price</span>
                                                }
                                                else
                                                {
                                                    <span class="price-sale">€@product1.Price</span>
                                                }
                                            </div>
                                            <p> @product1.Description</p>
                                            <ul class="product-meta">
                                                <li><a><i class="icon ion-bag"></i></a></li>
                                                <li><a><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- single product List -->
                        }
                    </div>
                </div> <!-- Tab Content -->


                <ul class="pagination justify-content-center mt-30">
                    <li><a><i class="fal fa-chevron-left"></i></a></li>
                    <li class="active"><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a><i class="fal fa-chevron-right"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-sidebar-widget mt-30">
                        <h5 class="shop-sidebar-title">Laptop</h5>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Hot Category</a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Dresses</a></li>
                                            <li><a>Jackets & Coats</a></li>
                                            <li><a>Sweaters</a></li>
                                            <li><a>Jeans</a></li>
                                            <li><a>Blouses & Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Outerwear & Jackets</a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Basic Jackets</a></li>
                                            <li><a>Real Fur</a></li>
                                            <li><a>Down Coats</a></li>
                                            <li><a>Blazers</a></li>
                                            <li><a>Trench Coats </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Weddings & Events</a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Wedding Dresses</a></li>
                                            <li><a>Evening Dresses</a></li>
                                            <li><a>Prom Dresses </a></li>
                                            <li><a>Bridesmaid Dresses</a></li>
                                            <li><a>Wedding Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Bottoms</a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Skirts</a></li>
                                            <li><a>Leggings</a></li>
                                            <li><a>Pants & Capris</a></li>
                                            <li><a>Wide Leg Pants</a></li>
                                            <li><a>Shorts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Tops & Sets</a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Tank Tops</a></li>
                                            <li><a>Suits & Sets</a></li>
                                            <li><a>Jumpsuits</a></li>
                                            <li><a>Rompers</a></li>
                                            <li><a>Sleep & Lounge</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Accessories</a>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul class="category-list">
                                            <li><a>Eyewear & Accessories</a></li>
                                            <li><a>Hats & Caps</a></li>
                                            <li><a>Belts & Cummerbunds</a></li>
                                            <li><a>Scarves & Wraps</a></li>
                                            <li><a>Gloves & Mittens</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- card -->
                        </div> <!-- accordion -->
                    </div> <!-- Shop Sidebar Category -->

                    <div class="shop-sidebar-widget mt-30">
                        <h5 class="shop-sidebar-title">Color</h5>
                        <ul class="color-list">
                            <li><a><span class="color-gray"></span>Gray(1)</a></li>
                            <li><a><span class="color-white"></span>White(5)</a></li>
                            <li><a><span class="color-block"></span>Black(5)</a></li>
                            <li><a><span class="color-Camel"></span>Camel(1)</a></li>
                            <li><a><span class="color-orange"></span>Orange(1)</a></li>
                            @*@foreach (ProductToColor productToColor in Model.ProductToColor)
                                {

                                }*@
                        </ul>
                    </div> <!-- Shop Sidebar color -->

                    <div class="shop-sidebar-widget mt-30">
                        <h5 class="shop-sidebar-title">Compositions</h5>
                        <ul class="compositions-list">
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="compositions1">
                                    <label for="compositions1"></label>
                                    <a>Cotton(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="compositions2">
                                    <label for="compositions2"></label>
                                    <a>Elastane(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="compositions3">
                                    <label for="compositions3"></label>
                                    <a>Polyester(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="compositions4">
                                    <label for="compositions4"></label>
                                    <a>Wool(3)</a>
                                </span>
                            </li>
                        </ul>
                    </div> <!-- Shop Sidebar color -->

                    <div class="shop-sidebar-widget mt-30">
                        <h5 class="shop-sidebar-title">Price </h5>
                        <div class="price-range">
                            <input type="text" id="amount">
                            <div id="slider-range"></div>
                        </div>
                    </div> <!-- Shop Sidebar color -->

                    <div class="shop-sidebar-widget mt-30">
                        <h5 class="shop-sidebar-title">Size </h5>
                        <ul class="size-list">
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="size1">
                                    <label for="size1"></label>
                                    <a>S(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="size2">
                                    <label for="size2"></label>
                                    <a>M(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="size3">
                                    <label for="size3"></label>
                                    <a>L(3)</a>
                                </span>
                            </li>
                            <li>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="size4">
                                    <label for="size4"></label>
                                    <a>XL(3)</a>
                                </span>
                            </li>
                        </ul>
                    </div> <!-- Shop Sidebar Size -->

                    <div class="banner-image banner-2 mt-30">
                        <a><img src="~/assets/images/banner-10.jpg" alt="banner"></a>
                    </div> <!-- banner image -->
                </div> <!-- Shop Sidebar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Shop Left Sidebar Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a>
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon1.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Free Shipping</h3>
                    <p>Free shipping on all US order</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon2.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Support 24/7</h3>
                    <p>Contact us 24 hours a day</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon3.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">100% Money Back</h3>
                    <p>You have 30 days to Return</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon4.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">90 Days Return</h3>
                    <p>If goods have problems</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon5.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Payment Secure</h3>
                    <p>We ensure secure payment</p>
                </div>
            </div> <!-- single features banner -->
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->