@model PricingViewModel
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <span>Pricing</span>
            <h2>Pricing</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">


            @foreach (Pricing pricing in Model.Pricings)
            {
                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                    <div class="box @(pricing.IsFeatured ? "featured" : "")">
                        <h3>@pricing.Type</h3>
                        <h4><sup>$</sup>@pricing.Price<span> / month</span></h4>
                        <ul>
                            @for (int i = 0; i < Model.Plans.Count; i++)
                            {
                                if (pricing.PricingPlans.Exists(a => a.PlanId == Model.Plans[i].Id))
                                {
                                    <li>
                                        @Model.Plans[i].PlanType
                                    </li>
                                }
                                else
                                {
                                    <li class="na">
                                        @Model.Plans[i].PlanType
                                    </li>
                                }
                            }
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
</section><!-- End Pricing Section -->