@using Trial_May_18.Models;
@*@model List<Student>
    //bir viewda bir dene model yaziriq*@
@model List<Group>
@* using edirik, mutleq de gelen obyekt modelin tipini geyd edirik, deyirem student tipinnen list gelir, indi foreach da
    ViewBag.Students yerine Model yaziriq *@



<!DOCTYPE html>
<html>

<body>

    <h1 style="font-size: 100px">
        Salam
    </h1>
    <ul>
        @*<li>123</li>
            <li>3214</li>
            <li>2432f</li>
            <li>tgref</li>
            <li>@ViewBag.Name</li>
            <li>@ViewBag.Name</li>
            <li>@ViewBag.Name</li>
            <li>@ViewData["SurName"]</li>*@

        @* bular hec lazim deyil, view(bunun icine yaziram) *@
        <li>wsgf</li>
    </ul>

    @* indi ise fora salaq, li leri ozu yaratsin bizimcun. Hardan? biz axi studentsi gonderdik bura, amma using edirik modelsi *@
    <hr />

    <ul>
        @*@foreach (var item in ViewBag.Students)
            {
                <li>
                    @item.Name, @item.SurName, @item.Grade
                </li>
            }*@
    </ul>

    @* GESHEEEEEENGGGGG *@


    <ul>
        @*@foreach (Student student in Model)
            {
            <li>
                @student.Name, @student.SurName, @student.Grade, @student.Id
            </li>
            }*@
    </ul>

    @* buda eyni shey prosto Model yazdiq *@


    <ul>
        @foreach (Group group in Model)
        {
            <li>
                <a href=@("http://localhost:11690/Home/Student/" + group.Id)>
                    @group.Name
                </a>
            </li>
        }
    </ul>

</body>


</html>