@model PaginationList<Product>

@{
    int no = Model.ItemsCount * (Model.Page - 1);
}


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Product Code</th>
            <th>Product Category</th>
            <th>Product's Brand</th>
            <th>Product Name</th>
            <th>Discount Price</th>
            <th>Real Price</th>
            <th>Update</th>
            <th>Clear</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in Model)
        {
            no++;
            <tr>
                <td class="col-lg-1">@no</td>
                <td class="col-lg-1">@(product.Seria + product.Code)</td>
                <td class="col-lg-1">@product.Category</td>
                <td class="col-lg-1">@product.Brand</td>
                <td class="col-lg-2">@product.ProductName</td>
                <td class="col-lg-1">$@product.DiscountPrice</td>
                <td class="col-lg-1">$@product.Price</td>
                <td class="col-lg-1">
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Update" asp-area="Manage" asp-route-id="@product.Id">Update</a>
                </td>
                <td class="col-lg-1">
                    @if (product.IsDeleted)
                    {
                        <a class="btn btn-primary restoreBtn" asp-area="Manage" asp-controller="Product"
                           asp-action="Restore" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status">Restore</a>
                    }
                    else
                    {
                        <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="Product"
                           asp-action="Delete" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>