@model PaginationList<AppUser>
@{
    int no = Model.ItemsCount * (Model.Page - 1);
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-lg-1">№</th>
            <th class="col-lg-3">Name</th>
            <th class="col-lg-1">Status</th>
            <th class="col-lg-1">Update</th>
            <th class="col-lg-1">Reset Password</th>
            <th class="col-lg-1">Delete/Restore</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppUser appUser in Model)
        {
            no++;
        <tr>
            <td class="col-lg-1">@no</td>
            <td class="col-lg-3">@appUser.Name</td>
            <td class="col-lg-1" style="color:@(appUser.IsDeleted ? "red" : "green")">@(appUser.IsDeleted ? "Deleted" : "Active")</td>
            <td class="col-lg-1">
                <a class="btn btn-warning" asp-area="Manage" asp-controller="User" asp-action="Update" asp-route-id="@appUser.Id">Update</a>
            </td>
            <td class="col-lg-1">
                <a class="btn btn-warning" asp-area="Manage" asp-controller="User" asp-action="ResetPassword" asp-route-id="@appUser.Id">Update</a>
            </td>
            <td class="col-lg-1">
                @if (appUser.IsDeleted)
                {
                    <a class="btn btn-primary restoreBtn" asp-area="Manage" asp-controller="User"
                       asp-action="Restore" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status">Restore</a>
                }
                else
                {
                    <a class="btn btn-danger deleteBtn" asp-area="Manage" asp-controller="User"
                       asp-action="Delete" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>